# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
.env
config.local.yaml
config.yaml

# Telegram Sessions
*.session
*.session-journal
session.txt

# Databases
data/*.db
data/*.db-shm
data/*.db-wal

# Downloads & Media
downloads/
public/avatars/user_*.jpg

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/
